body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Balsamiq Sans", cursive;
}

.calculator {
  height: 83vh;
  width: 47vh;
  padding: 2vh;
  margin: 3vh auto;
  border: 1px solid white;
  border-radius: 3vh;
}

.display {
  width: 100%;
  height: 7vh;
  border: none;
  padding: 1vh;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 4vh;
  resize: none;
  outline: none;
  overflow: hidden;
}

.preview {
  width: 100%;
  height: 7vh;
  margin: 0px;
  padding: 1vh;
  color: grey;
  font-size: 4vh;
  text-align: right;
  overflow: hidden;
}

.calculatorBody button {
  width: 10vh;
  height: 10vh;
  margin: 2px;
  padding: 0px;
  border: 1px solid white;
  border-radius: 4vh;
  background-color: black;
  color: white;
  font-size: 4vh;
  outline: none;
}

.delete {
  color: white;
  font-size: 4vh;
  text-align: center;
}

hr {
  width: auto;
  border: 0.5px solid white;
  margin: 2vh;
}

.clickable {
  cursor: pointer;
}

button.functional {
  color: rgb(0, 119, 255);
}

button.result {
  background-color: rgb(0, 119, 255);
  border-color: rgb(0, 119, 255);
  color: white;
}

@media screen and (max-height: 650px) {
  .calculator {
    height: 83vw;
    width: 47vw;
    padding: 2vw;
    margin: 3vw auto;
    border-radius: 3vw;
  }

  .display {
    height: 7vw;
    padding: 1vw;
    font-size: 4vw;
  }

  .preview {
    height: 7vw;
    padding: 1vw;
    font-size: 4vw;
  }

  .calculatorBody button {
    width: 10vw;
    height: 10vw;
    border-radius: 4vw;
    font-size: 4vw;
  }

  .delete {
    font-size: 4vw;
  }

  hr {
    margin: 2vw;
  }
}
